.onboarding-form {
    width: 100%;
    max-width: 450px;
    padding: 40px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 8px 20px rgbga(0, 0, 0, 0.1);
    margin: 50px auto;
    text-align: center;
}

.onboarding-form h3 {
    margin-bottom: 10px;
}

.onboarding-form label {
    display: block;
    margin: 1px 0;
}

.onboarding-form input[type="text"],
.onboarding-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.interests-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 0.4px solid #ddd;
    border-radius: 5px;

}

.interest-chip {
    margin: 5px;
    padding: 6px 14px;
    background: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.interest-chip.selected {
    background: black;
    color: white;
}

.custom-interest-input {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.custom-interest-input input {
    flex: 1;
    padding: 8px;
}

.submit-btn {
    margin-top: 20px;
    background: black;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}


.submit-btn:hover {
    background: #333;
}

.add-interest-btn {
    margin-left: 8px;
    background: transparent;
    cursor: pointer;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
    padding: 4px;
}

.add-interest-btn:hover {
    color: #333;
}

.add-interest-btn svg,
.add-interest-btn i {
    width: 20px;
    height: 20px;
    font-size: 20px;
}
