.post-info img{
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  width: 90%;
}

.posts{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding-left: 10px;
  border: #682323 solid 1px;
  overflow-y: scroll;
  height: 40vh;

}
