.post-info img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 10px 10px 0px 10px;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  border: #d6d6d6 solid 1px;
  cursor: pointer;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding-left: 10px;
  border: #d6d6d6 solid 1px;
  overflow-y: scroll;
  height: 50vh;
}

.delete-icon {
  color: #682323;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.delete-icon:hover {
  background-color: #9f638c;
  color: rgb(160, 9, 9);
  border-radius: 4px;
  padding: 10px;
}

.date {
  font-size: 12px;
  color: #757070;
}

.post-row {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.post-type-badge {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #f5f5f5;
  color: #070707;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  margin-right: 0.5rem;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
