.review-item {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px 10px 0px 10px;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  border: #d6d6d6 solid 1px;
  cursor: pointer;
}

.reviews-container-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding-left: 10px;
  border: #d6d6d6 solid 1px;
  overflow-y: scroll;
  height: 50vh;
}

.review-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.star-orange {
  color: orange;
  height: 20px;
  width: 20px;
}

.review-item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-name {
  color: #797373;
}

.review-item-bottom {
  margin-bottom: 4px;
}

@media (max-width: 600px) {
  .review-item {
    width: 90%;
    padding: 8px;
  }

  .reviews-container-profile {
    padding: 8px;
    max-height: 60vh;
  }

  .review-header {
    font-size: 1.1rem;
  }

  .review-item-top,
  .review-item-bottom {
    align-items: flex-start;
    padding: 0px;
  }

  .author-name {
    font-size: 0.9rem;
  }
}
