.filter-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin: 1rem 0;
}

.filter-bar select {
    padding: 0.5rem 1.25rem;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.95rem;
}

.filter-bar select:hover {
    background-color: #e0e0e0;
}


.filter-bar select:focus {
    background-color: #88b04b;
    color: white;
    border-color: #88b04b;

}

.filter-button{
    padding: 0.5rem 1.25rem;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.95rem;
}

.filter-button:hover {
    background-color: #88b04b;
    color: white;
    border-color: #88b04b;
}
