.main-content-login{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;

}

.login-header{
    font-size: 30px;
    font-weight: bold;
    color: #1C2B33;
    margin-bottom: 20px;
    text-align: center;

}
