.modal-overlay-profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 999;
  backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
}

.modal-content-profile {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.close-btn-profile {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--text-color);
}

.close-btn-profile:hover {
  transform: scale(1.1);
}

.preview-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.preview-profile img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
}

.action-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.upload-btn-profile {
  background: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 1rem;
}
